* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.webm binary
*.mp4 binary
*.pdf binary
*.zip binary
*.tgz binary
*.gz binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
